  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { /*configuración inicial de base para la web*/
    box-sizing: border-box; /*respecto al contenido el contender puede ir creciendo*/
    margin: 0;
    padding: 0;
}

/* cuerpo de la web */
body{
  font-family: Roboto;
  background:#4D336F;
}
/*-----Encabezado----*/
#nombre-web {
    text-align: center;
    font-size: 55px;

    color:#F5EFFF;
    height: 100px;
    text-shadow: 15px 2px 20px #4D336F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
  }

/*-----Espacio donde va la tarjeta y formulario----*/
.container {
  background-color: #ffffff;
  width: 30%;
  margin: auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  
}

/*-----estilos de tarjeta----*/
.tarjeta {
  width: 100%;
  max-width: 450px;
  position: relative;
  color:#ffffff;
  /*transition: .3 ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  cursor: pointer;
  z-index: 2; */

}
.tarjeta > div {
	padding: 20px;
	border-radius: 15px;
	min-height: 250px;
	display: flex;
	flex-direction: column;

	box-shadow: 0 10px 10px rgba(90, 33, 119, 0.3);
}
.tarjeta .frontCard {
	width: 100%;
	background: url(./img/violet-background.jpg);
	background-size: cover;
}
.frontCard .logovisa {
  text-align: right;
	min-height: 50px;
  /*background-color: #f1691a;*/
}
/*----LOGO---*/
.frontCard .logovisa img {
	width: 100%;
	height: 80%;
	object-fit: cover; /*El contenido se dimensiona manteniendo su relación de aspecto mientras llena todo el cuadro de contenido del elemento*/
	max-width: 75px;
}
/*----CHIP----*/
.frontCard .chip {
  text-align: right;
	min-height: 30px;
  margin-bottom: 80px;
}
.frontCard .chip img {
	width: 100%;
	height: 100%;
	max-width: 55px;
}
/*----DATOS EN IMAGEN TARJETA----*/
.frontCard .grupo .numero {
	color: #dcdcdc;
  justify-content: space-between;
	font-size: 20px;

  letter-spacing: 5px;
  margin-top: -30px;
}
.frontCard.grupo .name {
	color: #dcdcdc;
	font-size: 10px;
}
.frontCard .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
  text-transform: uppercase;

  letter-spacing: 5px;
}

/*-----INPUT DE INGRESO NUMERO DE TARJETA  Y NOMBRE----*/

.formulario {
	width: 100%;
  max-width: 450px;
  margin: auto;
  padding: 2%;
  position: relative;
  justify-content: space-between;
  }

.formValidarTarjeta input{
  width: 100%;
  height: 20px;
  padding: 20px;
  
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  align-items: start;
}

.formValidarTarjeta input:hover{
   border: 1px solid #8d648d;
}

.formValidarTarjeta label {
  width: 100%;
  margin: auto;
  position: relative;
  max-width: 450px;
  background-color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 600;
  color: #4D336F;

}

#message2 {
 color: gray;
 background: white;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
}

#message {
  color: gray;
  background: white;
  text-align: center;

  font-size: 16px;
 }

/* -- BOTON VALIDAR--*/
#validar {
  width: 100%;
  background-color: #4D336F;

  color:#ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
  min-width: 200px;
}

#validar:hover {
  background-color: #f1691a;
  box-shadow: 0 5px 5px 0 rgba(90, 33, 119, 0.2);
}

/*----footer---*/
footer{
  text-align: center;
  color:#ffffff;
  font-family: 'Poppins', sans-serif;
}
